.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db
# source/img/backgrounds/wedding_background.jpg
# source/wed.html
# source/sass/blocks/wedding.scss
