.advantages__header {
  font-size: $font-size36;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size60;
    line-height: 60px;
    margin-bottom: 30px;
  }
}

.advantages {
  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}
