.catalog-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 93px 60px;
      }


@media (min-width: $desktop-width) {
  gap: 92px 80px;
}
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 430px;
 background-color: $light-grey;
 padding: 39px;
      }


@media (min-width: $desktop-width) {
  width: 245px;
}

}

.catalog-list__card {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: column;
      }

  }

  .catalog-list__desc {
    display: flex;
    flex-direction: column;
  }

  .catalog-list__title {
    font-size: $font-size16;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 14px 0;

    @media (min-width: $tablet-width) {
     align-self: center;
        }

  }

  .catalog-list__desc-row {
    display: flex;
    justify-content: space-between;
  }

  .catalog-list__item--more__title {
    text-align: center;
  font-size: $font-size16;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  }

  .catalog-list__item--more__subtitle {
  color: $dark-grey;
  text-align: center;
  font-size: $font-size12;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  }

  .catalog-list__item--more {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
         background-color: transparent;
        }


@media (min-width: $desktop-width) {
  padding: 5px;
}

  }
