

.catalog-cards {
padding: 5% 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
  }



.catalog-container {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $desktop-width) {

  }
}

.catalog-cards__title {
margin: 0 0 5% 0;
font-size: $font-size36;
font-weight: 400;
line-height: 36px;
padding-left: 5%;

@media (min-width: $tablet-width) {
 font-size: $font-size60;
 line-height: 60px;
}

}
