.example {
  background-color: #eaeaea;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
  background-color: $white;
  }
}

.example__title {
  font-size: $font-size36;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: $font-size60;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.example__subtitle {
  color: $dark-grey;
  font-size: $font-size14;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__items-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  width: min-content;
}

.example__stats-wrapper {
  display: flex;
  flex-direction: column;
  width: 124px;
}

.example__stats {
  color: $black;
  text-align: center;

  font-size: $font-size24;
  margin-top: 0;
  font-weight: 400;
  line-height: 24px;
}

.example__description {
  color: $dark-grey;
  text-align: center;

  font-size: $font-size12;
  margin-top: 0;
  font-weight: 400;
  line-height: 12px;
}
.example__item {
  font-size: $font-size14;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.example__img-w {
  display: flex;
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
   margin-left: 25%;
  }
}

.example__image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: transparent;
  border: none;
}

.example__image {
  position: relative;
}

.example__item-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    align-items: start;
  }

}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
