.example {
  background-color: $special-grey;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding: 0;
    border-top: 1px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.example__title {
  font-size: $font-size36;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: $font-size60;
    line-height: 60px;
    margin: 0 0 63px 0;
    padding: 43px 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.example__subtitle {
  color: $dark-grey;
  font-size: $font-size14;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $tablet-width) {
    font-size: $font-size16;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    color: $dark-grey;
    margin-bottom: 72px;
  }
}

.example__items-wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    width: 100%;
  }
}

.example__stats-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: relative;
  border: 1px $middle-grey solid;
  border-radius: 4px;
  padding-top: 5%;
}

.example__stats {
  color: $black;
  text-align: center;
  font-size: $font-size24;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
    line-height: 37px;
  }
}

.example__description {
  color: $dark-grey;
  text-align: center;
  font-size: $font-size12;
  margin-top: 0;
  font-weight: 400;
  line-height: 12px;
  width: max-content;
  height: 24px;
  padding: 0 10px;
  position: absolute;
  top: 85%;
  z-index: 2;
  background-color: $special-grey;
  right: 0;
  left: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $tablet-width) {
    background-color: $white;
    font-size: $font-size14;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}
.example__item {
  font-size: $font-size14;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 40px;
    flex-direction: column;
    align-items: end;
    font-size: $font-size20;
    margin: 0;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
    gap: 30px;
  }
}

.example__img-w {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  min-height: 256px;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    min-height: 462px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    right: 25%;
  }
}

.example__img-container {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

.example__image {
  background-repeat: no-repeat;
}

.example__image--before {
  clip-path: rect(0px 0px 100% 50%);

  @media (min-width: $tablet-width) {
  }
}

.example__image--after {
  clip-path: rect(0px 100% 100% 50%);

  @media (min-width: $tablet-width) {
  }
}

.example__image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='256' viewBox='0 0 40 256' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Crect x='18' width='4' height='256' rx='2' fill='%23666666' /%3E%3Crect x='1' y='109' width='38' height='38' rx='19' fill='white' /%3E%3Crect x='1' y='109' width='38' height='38' rx='19' stroke='%23666666' stroke-width='2' /%3E%3Cpath d='M16 119L8 128L16 137V119Z' fill='%23666666' /%3E%3Cpath d='M32 128L24 119V137L32 128Z' fill='%23666666' /%3E%3C/svg%3E");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='512' viewBox='0 0 40 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='18' width='4' height='512' rx='2' fill='%23666666'/%3E%3Crect x='1' y='237' width='38' height='38' rx='19' fill='white'/%3E%3Crect x='1' y='237' width='38' height='38' rx='19' stroke='%23666666' stroke-width='2'/%3E%3Cpath d='M16 247L8 256L16 265V247Z' fill='%23666666'/%3E%3Cpath d='M32 256L24 247V265L32 256Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    width: 500px;
    height: 500px;
  }
}

.example__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example__item-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 250px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    width: 34%;
    align-items: start;
    padding: 71px 0 71px 110px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $basic-grey;
    position: relative;
  }
}

.example__items-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}
