.footer__contacts {
  display: flex;
  padding: 26px 20px;
  gap: 2px;
}

.footer__title {
  font-size: 16px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
margin: 0;
}

.footer__address {
color: $dark-grey;
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin: 0;
}

.footer__map {
  width: 320px;
height: 362px;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
