.footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    gap: 15px;
    background-color: $white;
    top: 95px;
    left: 110px;
    padding: 56px 80px;
    width: 565px;
    height: 198px;
    align-items: center;
  }
}

.footer__contacts--catalog {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.footer__contacts--grey {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.footer__title {
  font-size: $font-size16;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size20;
    line-height: 26px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
  width: 100%;
  }
}

.footer__address {
  color: $dark-grey;
  font-size: $font-size14;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $mobile-width-only) {
    br {
      display: none;
    }
  }
  @media (min-width: $tablet-width) {
    br {
      display: inline;
    }
    font-size: $font-size16;
    text-align: end;
  }
}

.footer__map {
  width: 100%;
  height: 362px;
  display: block;

  width: 100%;
  height: 362px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


  @media (min-resolution: 2dppx) {
    background-image: url('../../img/backgrounds/map_mobile@2x.png');
  }

  @media (min-width: $tablet-width) {
    background-image: url('../../img/backgrounds/map_tablet.png');
    height: 400px;

    @media (min-width: $desktop-width) {
      background-image: url('../../img/backgrounds/map_decstop.png');
      height: 400px;
    }
  }
}




.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px;
    width: 100%;
  }
}

.copyright__text {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer__logo-link {
  cursor: pointer;
  padding: 37px 0;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: normal;
    gap: 10px;
    width: max-content;
  }
}

.copyright__text {
  color: $dark-grey;
  font-style: inherit;
  font-size: $font-size16;
}

.copyright__link {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../../img/logo/footer_logo_mobile.png');
  width: 27px;
  height: 34px;
}


.footer__map-container::after {
  content: "";
 background-image: url("../../img/icons/map_pin.png");
 width: 53px;
height: 57px;
display: block;
position: absolute;
top: 50%;
left: 50%;
}

.footer__map-container {
  position: relative;
}
