.form__label {
  color: $dark-grey;
  font-size: $font-size16;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: inline;
  text-wrap: nowrap;
  width: max-content;

  @media (min-width: $tablet-width) {
    font-size: $font-size20;
  }
}

.form__input-radio {
  display: inline;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 2px solid $middle-grey;
  padding: 6px;
  background-clip: content-box;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
}

.form__input-radio:checked {
  background-color: $basic-green;
}

.form__input-optional {
  width: 30px;
  height: 30px;
  border: 1px solid $middle-grey;
  cursor: pointer;
  background-clip: content-box;
  appearance: none;
  padding: 6px;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  @media (min-width: $desktop-width) {
  }
}

.form__input-optional:checked::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
}

.form__input {
  border: 1px solid $light-grey;
  color: $dark-grey;
  height: 46px;
  padding: 0 9px;
  margin: 0;
  text-transform: uppercase;
  font-size: $font-size16;
  width: 70%;
}

.form__input--contact:invalid {
  border-color: red;
}

.form__input--contact:invalid + .form__input-pic path {
  border-color: red;
  stroke: red;
}

.form__input--contact:invalid + .form__input-pic line {
  border-color: red;
  stroke: red;
}

.form__input-pic path {
  stroke: $black;
}

.form__input--contact:valid {
  border-color: $basic-green;
}

.form__input--contact:valid + .form__input-pic path {
  border-color: $basic-green;
  stroke: $basic-green;
}


.form__input--contact:valid + .form__input-pic line {
  border-color: $basic-green;
  stroke: $basic-green;
}

.form__input--contact:required {
  border-color: black;
  border-width: 3px;
}

.form__input--contact::placeholder {
  font-size: $font-size16;
}

.form__input-pic {
  content: '';
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  display: block;
}

.form__input-text {
  border: 1px solid $light-grey;
  color: $dark-grey;
  padding: 10px 15px;
  width: 100%;
  height: 150px;
  margin: 0;
  text-transform: uppercase;

  font-size: 16px;
  letter-spacing: -1px;

  @media (min-width: $tablet-width) {
    padding: 10px;
  }
}

.form__goal {
  color: $dark-grey2;
  font-size: $font-size16;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset-contact {
  padding: 0;
  margin: 0;
  border: none;
}

.form__fieldset-contact-title,
.form__fieldset-comments-title,
.form__fieldset-optional-title {
  font-size: $font-size24;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
  text-align: start;
  background: white;
  z-index: 5;
  position: relative;
  padding: 0 0 0 20px;
  width: 65%;

  @media (min-width: $tablet-width) {
    font-size: $font-size36;
    line-height: 36px;
    width: max-content;
    padding: 0 39px;
  }
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.form__label-radio-w {
  gap: 15px;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

.form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.form__fieldset-comments {
  position: relative;
}

.form__fieldset-comments,
.form__fieldset-optional {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset-optional {
  position: relative;
}

.form__optional {
  font-family: inherit;
  font-size: $font-size16;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size20;
    line-height: 30px;
  }
}

.form__fieldset-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__desktop-wrapper {
  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
  }
}

.form__fieldset-name {
  display: flex;
  flex-direction: column;
  gap: 13px;
  border: 0;
  margin: 0 0 25px 0;
  padding: 0;
}

.form__fieldset-name,
.form__fieldset-radio {
  @media (min-width: $desktop-width) {
    padding: 0;
    height: 100%;
    justify-content: space-between;
  }
}

.form__label-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  padding: 0;
  position: relative;
}

.form__textarea {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__label-radio-w {
  display: flex;
  align-items: center;
}

.form__fieldset-radio {
  border: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0;
  border: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    margin: 0 9%;
  }
}

.form__input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.form__necessary-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__input:focus {
  border: $black;
}

.form__input-radio:disabled,
.form__input-optional:disabled {
  opacity: 50%;
}

.form-title__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
  }
}

.form-title__wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  right: 0;
  top: 50%;
}
