.main-nav__toggle  {

  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 18px;


}


.main-nav {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 5;
  background: white;
  left: 0;
  gap: 30px;


  @media (min-width: $tablet-width) {
    position: static;
    margin-left: auto;
    gap: 33px;
  }
}

.main-nav--closen {
    display: none;


    @media (min-width: $tablet-width) {
     display: block;
    }

    @media (min-width: $desktop-width) {
      display: block;
     }
}

.main-nav__toggle--closen {

  background-image: url("../../img/button/button_mobile_open.png");
  cursor: pointer;
  background-repeat: no-repeat;
}

.main-nav__toggle--open {

  background-image: url("../../img/button/button_mobile_close.png");
  cursor: pointer;
  background-repeat: no-repeat;
}
