.main-catalog-bonus {
  height: 290px;
  display: block;
  position: relative;

  padding: 20px;


  @media (min-width: $tablet-width) {
   height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 289px;
    width: 245px;
  }
}

.main-catalog-bonus::before {
  background-image: url('../../img/backgrounds/bonus_cat.png');
  z-index: -2;
  width: 100%;
  height: 290px;
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url('../../img/backgrounds/bonus_cat_tablet.png');
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 289px;
    background-image: url('../../img/backgrounds/bonus_cat.png');
  }
}

.main-catalog-bonus::after {
  background-color: $basic-green;
  opacity: 0.85;
  width: 100%;
  height: 290px;
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 290px;
  }
}

.main-catalog-bonus__text {
  padding: 0;
  margin: 0;
  color: $white;
  text-align: center;
  font-size: $font-size16;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $tablet-width) {
    width: 25%;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: center;
  }
}

.catalog-bonus__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 48px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0;
    padding: 0 124px 0 77px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
    gap: 46px;
    margin: 0;
  }
}
