.main-catalog-optionals__title {
  text-align: start;
  font-size: $font-size24;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0 19px;
  position: relative;
  width: max-content;
  background-color: $white;
  z-index: 5;

  @media (min-width: $tablet-width) {
    font-size: $font-size36;
    line-height: 36px;
    padding: 0 37px;
  }
}

.catalog-optionals__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 68px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 70px;
    margin-bottom: 25px;
  }
}

.catalog-optionals__wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  right: 0;
  top: 50%;
}

.catalog-optinals__desctop_wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 110px;
  }
}

.show-more--svg {
  @media (min-width: $tablet-width) {
   width: 60px;
   height: 60px;
  }
}
