.page__body {
 font-family: "Oswald Regular", "Arial", sans-serif;
 color: $black;
 background-color: $white;
 font-size: $font-size14;
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}


