.product {
  display: flex;
  flex-direction: column;
  color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    position: static;
  }
}

.product .main-container {
  padding: 0;
}

.product__padding {
  @media (min-width: $tablet-width) {
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
  }
}

.product__background-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    height: 900px;
    position: static;
  }
}

.product__background-wrapper::after {
  background-color: $basic-green;
  opacity: 0.85;
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 302px;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    background-color: $basic-green;
    opacity: 0.85;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    height: 694px;
    width: 50%;
  }
}

.product__background-wrapper::before {
  position: absolute;
  background-image: url('../../img/backgrounds/product_background_cat.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: '';
  height: 302px;
  width: 100%;
  z-index: -2;

  @media (min-resolution: 2dppx) {
    background-image: url('../../img/backgrounds/index_background_desktop_@2x.png');
    background-size: 100%;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-image: url('../../img/backgrounds/index_background_desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
    height: 694px;
    width: 50%;
    z-index: -2;
    right: 0;
    top: 0;
  }
}

.product__button {
  margin: 0 20px;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    top: 256px;
    left: 87px;
    margin: 0;
    width: 244px;
    height: 54px;
    font-size: $font-size20;
    line-height: 20px;
    padding: 14px 26px;
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    left: 110px;
  }
}

.product__image {
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 10%;
  right: 0;
  left: 0;
  background-color: transparent;



  @media (min-width: $tablet-width) {
    width: max-content;
    height: 609px;
    flex-shrink: 0;
    bottom: 0;
    top: 25%;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
  }
}

.product__title {
  padding: 27px 0 0 0;
  text-align: center;
  font-size: $font-size36;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size60;

    line-height: 60px;
    margin: 0 auto 41px 0;
    text-align: start;
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}
.product__subtitle {
  font-size: $font-size14;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 302px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size20;

    line-height: 20px;
    margin: 0 auto 20px 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
  }
}
