@import './fonts';
@import './variables';
@import './blocks/advantages-list';
@import './blocks/advantages';
@import './blocks/bonus-img';
@import './blocks/button';
@import './blocks/card';
@import './blocks/catalog-container';
@import './blocks/catalog-list';
@import './blocks/example';
@import './blocks/footer';
@import './blocks/form';
@import './blocks/main-catalog-bonus';
@import './blocks/main-catalog-optionals';
@import './blocks/main-container';
@import './blocks/main-form';
@import './blocks/main-header';
@import './blocks/main-nav';
@import './blocks/optionals';
@import './blocks/optionals-list';
@import './blocks/page';
@import './blocks/product';
@import './blocks/product-list';
@import './blocks/site-list';
@import './global';
@import './blocks/wedding';
@import './blocks/social-list';
@import './blocks/container.scss';
