$black: #000000;
$basic-green: #68B738;
$white: #ffffff;
$basic-grey: #f2f2f2;
$dark-grey: rgba(68, 68, 68, 1);
$dark-grey2: rgba(34, 34, 34, 1);
$light-grey: #e7e7e7;
$font-size14: 14px;
$font-size36:  36px;
$font-size16:  16px;
$font-size12: 12px;
$font-size24: 24px;
$font-size20: 20px;
$font-size60: 60px;
$font-size18: 18px;
$font-size30: 30px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$special-grey: rgb(234, 234, 234);
$middle-grey: rgb(205, 205, 205);

